<title>Web component</title>
<link rel="stylesheet" href="https://stopsopa.github.io/pages/js/popper/html-vanilla/popover.css" />
<link
  rel="stylesheet"
  href="../node_modules/composite-select/composition/selected-section/SelectedSectionManager.css"
/>
<link rel="stylesheet" href="../node_modules/composite-select/composition/options-section/OptionsSectionManager.css" />

<style>
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem;
    background-color: #f0f2f5;
    color: #333;
  }
</style>
